ion-list {
  margin-bottom: 16px;
}


@media (min-width: 1024px) {
  ion-content {
    --padding-start: 48px;
    --padding-end: 48px;
  }

  ion-list {
    max-width: 640px;
    margin: 24px auto 16px;
  }
}
